@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* SnapPage 스크롤바 숨김 */
.snap-scroll::-webkit-scrollbar { width: 0; height: 0; }
.snap-scroll { scrollbar-width: none; }

html, body {
  height: 100%;
  overflow: hidden; /* 바깥 스크롤 차단 */
}