@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  font-size: 17px;
}

body {
  font-family: var(--font-pretendard), system-ui, -apple-system, "Segoe UI", Roboto,
  "Noto Sans", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  line-height: 1.6;
}